:root {
    /* colors */
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;

    /* spacing */
    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

@font-face {
    font-family: "Figtree";
    src: 
        /* load from the client device if exist */
        local("Figtree"),
        url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");

    /* [medium, extra bold] */
    font-weight: 500 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

body {
    height: 100vh;
}

/* typography */
.preset1-text {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0;
}

.preset2-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}

.preset3-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}

.preset3-bold-text {
    font-weight: 800;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}


main {
    background-color: var(--yellow);
    height: 100%;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-card {
    width: 327px;
    
    background-color: var(--white);

    box-shadow: 8px 8px black;
    
    border: 1px solid var(--gray-950);
    border-radius: 20px;

    padding: 24px 24px 0 24px;
}

.blog-img {
    border-radius: 10px;
}

.blog-caption {
    margin: 24px 0 24px 0;
    text-align: left;
}
.tag {
    background-color: var(--yellow);
    width: fit-content;
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    color: var(--gray-950);
}
.publish-date {
    color: var(--gray-950);
    margin: 12px 0 12px 0;
}
.title {
    color: var(--gray-950);
    margin-bottom: 12px;
}
.description {
    color: var(--gray-500);
}

.author {
    margin-bottom: 24px;
    width: max-content;
    gap: 12px;
}
.author-img {
    width: 32px;
    height: 32px;
}
.author-name {
    color: var(--gray-950);
}

@media (min-width: 1440px) {
    /* typography */
    .preset1-text {
        font-weight: 800;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0;
    }
    
    .preset2-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0;
    }
    
    .preset3-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0;
    }
    
    .preset3-bold-text {
        font-weight: 800;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0;
    }

    .blog-card {
        width: 384px;
    }
}