:root {
    /* colors */
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;

    /* typography */
    /* preset1 */
    --preset1-font-weight: 800;
    --preset1-font-size: 24px;
    --preset1-line-height: 150%;
    --preset1-letter-spacing: 0;

    /* preset2 */
    --preset2-font-weight: 500;
    --preset2-font-size: 16px;
    --preset2-line-height: 150%;
    --preset2-letter-spacing: 0;

    /* preset3 */
    --preset3-font-weight: 500;
    --preset3-font-size: 14px;
    --preset3-line-height: 150%;
    --preset3-letter-spacing: 0;

    /* preset3-bold */
    --preset3-bold-font-weight: 800;
    --preset3-bold-font-size: 14px;
    --preset3-bold-line-height: 150%;
    --preset3-bold-letter-spacing: 0;

    /* spacing */
    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}

@font-face {
    font-family: "Figtree";
    src: 
        /* load from the client device if exist */
        local("Figtree"),
        url(./assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");

    /* [medium, extra bold] */
    font-weight: 500 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
}

body {
    height: 100vh;
}

.preset1-text {
    font-weight: var(--preset1-font-weight);
    font-size: var(--preset1-font-size);
    line-height: var(--preset1-line-height);
    letter-spacing: var(--preset1-letter-spacing);
}

.preset2-text {
    font-weight: var(--preset2-font-weight);
    font-size: var(--preset2-font-size);
    line-height: var(--preset2-line-height);
    letter-spacing: var(--preset2-letter-spacing);
}

.preset3-text {
    font-weight: var(--preset3-font-weight);
    font-size: var(--preset3-font-size);
    line-height: var(--preset3-line-height);
    letter-spacing: var(--preset3-letter-spacing);
}

.preset3-bold-text {
    font-weight: var(--preset3-bold-font-weight);
    font-size: var(--preset3-bold-font-size);
    line-height: var(--preset3-bold-line-height);
    letter-spacing: var(--preset3-bold-letter-spacing);
}


main {
    background-color: var(--yellow);
    height: 100%;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-card {
    width: 384px;
    height: 522px;
    
    background-color: var(--white);

    box-shadow: 8px 8px black;
    
    border: 1px solid var(--gray-950);
    border-radius: 20px;
}